@using Project.Tech.Shop.Web.Infrastructure

@if (TempData.ContainsKey(ControllerExtensions.ConfirmationMessageKey))
{
    <div class="notification-banner notification-banner--success" role="alert" aria-labelledby="notification-banner-title" data-module="notification-banner">
        <div class="notification-banner__header">
            <h2 class="notification-banner__title" id="notification-banner-title">
                Success
            </h2>
        </div>
        <div class="notification-banner__content">
            <h3 class="notification-banner__heading">
                @TempData[ControllerExtensions.ConfirmationMessageKey]
            </h3>
        </div>
    </div>
}
